@font-face {
    font-family: 'olde_englishregular';
    src: url('../resources/oldeenglish-webfont.woff2') format('woff2'),
    url('../resources/oldeenglish-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'olde_englishregular';
}

.three_column {
    float: left;
    width: 33.333%;
    background-color: lightgray;
}

.entity {
    display: block;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}